@model Spice.Models.Coupon
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2 class="text-info">Create Coupon</h2>
<br />

<form method="post" enctype="multipart/form-data">
    <div class="border backgroundWhite">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Name" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="Name" class="form-control" />
            </div>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Picture" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input type="file" id="projectImage" name="files" multiple class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="CouponType" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <select asp-for="CouponType" asp-items="Html.GetEnumSelectList<Coupon.ECouponType>()" class="form-control"></select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Discount" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="Discount" class="form-control" />
            </div>
            <span asp-validation-for="Discount" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="MinimumAmount" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="MinimumAmount" class="form-control" />
            </div>
            <span asp-validation-for="MinimumAmount" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label class="form-check-label" asp-for="IsActive"></label>
            </div>
            <div class="col-5">
                <input class="form-check-input mx-1" type="checkbox" asp-for="IsActive">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-5 offset-2">
                <partial name="_CreateAndBackToListButton" />
            </div>
        </div>
    </div>
</form>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}