@model Spice.Models.ViewModels.OrderDetailsCart

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post">
@if(Model.listCart.Count >0)
{
    <br />
    <input id="userId" asp-for="@Model.listCart[0].ApplicationUserId" hidden />
    <div class="backgroundWhiteBorder">
        <div class="container">
            <div class="card">
                <div class="card-header bg-dark text-light ml-0 row container">
                    <div class="col-6">
                        <i class="fa fa-shopping-cart"></i> &nbsp;
                        Shopping Cart
                    </div>
                    <div class="col-6 text-right">
                        <a asp-area="Customer" asp-controller="Home" asp-action="Index" class="btn btn-outline-info btn-sm">Continue Shopping</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="backgroundWhiteBorder"> No items added to the shopping cart...</div>
}
</form>

