@model Spice.Models.ViewModels.IndexViewModel

<br />

@if (Model.Coupon.ToList().Count > 0)
{
    <div class="border">
        <div class="carousel" data-ride="carousel" data-interval="2500">
            @for (int i = 0; i < Model.Coupon.Count(); i++)
            {
                if (i == 0)
                {


                    <div class="carousel-item active">
                        @{
                            var base64 = Convert.ToBase64String(Model.Coupon.ToList()[i].Picture);
                            var imgsrc = string.Format("data:image/jpg;base64,{0}", base64);
                        }

                        <img src="@imgsrc" height="50px" class="d-block w-100" />
                    </div>
                }
                else
                {
                    <div class="carousel-item">
                        @{
                            var base64 = Convert.ToBase64String(Model.Coupon.ToList()[i].Picture);
                            var imgsrc = string.Format("data:image/jpg;base64,{0}", base64);
                        }

                        <img src="@imgsrc" height="50px" class="d-block w-100" />
                    </div>
                }
            }
        </div>
    </div>

}

<br /><br />

      <div class="backgroundWhite container">
         
          <ul id="menu-filters" class="menu-filter-list list-inline text-center">
              <li class="active btn btn-secondary ml-1 mr-1" data-filter="menu-restaurant">Show All</li>

              @foreach (var item in Model.Category)
              {
                  <li class="ml-1 mr-1" data-filter=".@item.Name.Replace(" ",string.Empty)">@item.Name</li>
              }
          </ul>


          @foreach(var category in Model.Category)
          {
              <div class="row" id="menu-wrapper">
                  <partial name="_ThumbnailAreaPartial" model="@Model.MenuItem.Where(u=>u.Category.Name.Equals(category.Name))" />
              </div>
          }
      </div>