@model Spice.Models.ViewModels.OrderDetailsViewModel
@{
    ViewData["Title"] = "Confirm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div class="backgroundWhite">
    <div class="row px-3">
        <div class="col-8">
            <h2 class="text-info">Order Confirmed</h2>
        </div>
        <div class="col-4 text-right">
            <a asp-action="Index" asp-controller="Home" class="btn btn-success form-control">New Order</a>
        </div>
    </div>

    @if(Model.OrderHeader !=null)
    {
        <div style="color:maroon" class="p-3">
            Your order has been confirmed! Please see the order summary below. 
            <br />
            Feel free to contact us if you have any questions.
        </div>
    }
    else
    {
        <div class="text-danger">Error... Please try again.</div>
    }
</div>

