@model Spice.Models.ViewModels.MenuItemViewModel

@{
    ViewData["Title"] = "Delete";
}


<br />
<h2 class="text-info">Delete Menu Item</h2>
<br />
<form method="post">
    <div class="backgroundWhiteBorder row">
        <div class="col-8">
            <input type="hidden" asp-for="MenuItem.Id" />
            <fieldset disabled>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="MenuItem.Name" class="custom-label"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="MenuItem.Name" class="form-control" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="MenuItem.Description" class="custom-label"></label>
                    </div>
                    <div class="col-8">
                        @Html.TextAreaFor(m => m.MenuItem.Description)
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="MenuItem.Price" class="custom-label"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="MenuItem.Price" class="form-control" />
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="MenuItem.CategoryId" class="custom-label"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="MenuItem.Category.Name" class="form-control" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="MenuItem.SubCategoryId" class="custom-label"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="MenuItem.SubCategory.Name" class="form-control" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="MenuItem.Spicyness" class="custom-label"></label>
                    </div>
                    <div class="col-8">
                        <select asp-for="MenuItem.Spicyness" asp-items="Html.GetEnumSelectList<MenuItem.ESpicy>()" class="form-control"></select>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="col-1"></div>
        <div class="col-3">
            <img src="@Model.MenuItem.Image" width="100%" style="border-radius:5px;border:1px solid #bbb9b9;" />
        </div>
        <div class="col-8">
            <div class="col-8 offset-4">
                <partial name="_DeleteAndBackToListButton" model="Model.MenuItem.Id" />
            </div>
        </div>
    </div>
</form>

@section Scripts{
    <script>
            tinymce.init({
                selector: 'textarea',
                plugins: "lists",
                toolbar: "undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist",
                menubar: 'file edit format',
                readonly: 1
            });</script>
    <script>tinymce.init({ selector: 'textarea' });</script>

}
